* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box {
    width: 420px;
    box-shadow: 0px 0px 10px 0px rgb(122, 80, 80);
    margin: auto;
    border-radius: 10px ;
    padding:30px;
    
}

.nav1 {
    background-color: rgb(122, 80, 80);
    display: flex;
    justify-content: space-around;
    box-shadow: 20px rgb(122, 80, 80);

}

.nav1 ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 50px;
    margin-right: 20px;
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.body {
    align-items: center;
    margin: auto;
}

.users {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


.login_items {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 6px;

}
.login_items input{
    width :100%;
    height: 100%;
    background :transparent;
    border :none;
    outline: none;
    border:2px solid  rgb(122, 80, 80);
    border-radius: 40px;
    color:white;
    padding : 20px;
    font-size: 16px;
}
#login_button {
    width: 100px;
    height: 30px;
}
.icon{
    position:absolute;
    right : 20px;
    top : 50%;;
    transform: translateY(-50%);
    font-size:16px;
}

.input-box{
    position :relative;
    width:100%;
    height: 50px;
}
.users div {
    font-size: 18px;
    color: black;
    border: 0.1px solid rgb(134, 89, 89);
    border-radius: 0px 0px 5px 5px;
    margin: 3px;
}

#student:hover {
    font-size: 20px;
    box-sizing: 20px;
    transition: ease-out;
}

.users li a {
    padding: 0px 20px;
}
.remember-forget input{
    height: 18px;
}
.remember-forget a{
    color:rgba(100, 54, 54, 0.578);
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration:underline;
}
.remember-forget {
   display:inline-flex;
   flex-direction: row;
   column-gap: 200px;
   font-size:10px ;

}
.remember-forget label{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    width:100px;
}
.remember-forget input{
    height:14px;
    display:inline-flex;
}
.flex-div{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}
#login_button{
    width:100%;
    height:45px;
    background: #ffff;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#333;
    font-weight:700;
}
.register-link{
    font-size:14.5px;
    text-align:center;
    margin-top: 20px;
}
.register-link a{
    text-decoration:none;
    font-weight: 600;
}
.rm{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.remember-forget a{

}
.register-link{
    font-size:14.5px;
    text-align:center;
    margin-top:20px;
}